# CMake
**/build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake

# macOS
.DS_Store

# VS Code
.vscode/
# .NET
**/bin/
**/obj/

# Node
**/node_modules/
**/dist/

# SQLite
*.db
*.db-wal
*.db-shm
*.db-journal
